@charset "UTF-8";
/* CSS Document */


body{

	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	 background-color: black;
}

#contenedor { width:100%; margin:0 auto;}


/*MENU*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;

}

.sidenav a {

  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
 	color: #818181;
  display: block;
  transition: 0.3s;
	margin-top: 30px;
	text-align: center;


}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {

  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

#main .menuBar{

font-size:30px;
cursor:pointer;

}
#main:hover .menuBar{

color: #818181;

}

#main {

  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*FIN MENU*/

#contenido {
	position: relative;
	margin-bottom: 0;
	width: 60%;
}

.AstroBeni{

	display: block;
	opacity: 1;
	width:8%;
	height:auto;
	transition: .5s ease;
	backface-visibility: hidden;

}
.over{
	position: absolute;
	text-align: center;
	top: 50%;
  left: 15%;
  opacity: 0;
	transform:  translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  transition: .5s ease;
	text-align: center;

}
#contenido:hover .AstroBeni{
	opacity: .7;
}
#contenido:hover .over{
	opacity: 1;
}
.AstrolabiusTxt{
	position: relative;
	font-size: 10px;
	margin-bottom: 0;
}
.beni{

	font-size: 12px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: white;
/*	margin-top: 90%;*/
	width:50%;
	height: 50%;
}


/*BOTONES PROYECTO*/

.showProyectos {

  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 35px;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	background-color: black;
	color: white;
	opacity: 0.6;
}

.showProyectos:after {

 content: '\002B';/* Unicode character for "plus" sign (+) */
 font-weight: bold;
 margin-left: 5px;
}

.active:after {
content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/*STORM*/


.proyectos{

	padding: 0 18px;
	width:90%;
	height: 80%;
	text-align:center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
	margin-right: auto;
	margin-bottom: 0.3%;
	margin-left: 5%;
	position: relative;

}

/*UCH*/
* {
  box-sizing: border-box;
}
.myVideo {

  right: 0;
  bottom: 0;
  min-width: 35%;
  min-height: 35%;
}


.content {

  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
  width: 100%;
	height: 10%;
	position: absolute;
	text-align: justify;
	font-size: 18px;
	padding: 0 10% 0 10%;

}


.active, .showProyectos:hover {

 opacity: 1;
 background-color: black;

}

.abs{
	width: 70%;
	height: 60%;
}
.abs1{
	width: 45%;
	height: 55%;
}

.proyectos .columna1, .proyectos .columna2, .proyectos .columna3{


	overflow:hidden;
	float:left;
	font-family:Arial, Helvetica, sans-serif;digitalSt
	font-style:italic;
	color:#634835;
	font-size:20px;
	width: 50%;
	height: 60%;
	margin-top: 6%;
	margin-left: 4%;

	border: 1px solid;
	border-color: white;


	}

	.proyectos .columna1{

		border: 1px solid;
		border-color: red;
		float: left;
		margin-left:10px;
		padding-bottom:30px;
		}

	.proyectos .columna2{

		width: 50%;
		border: 1px solid;
		border-color: red;

		}
	.proyectos .columna3{

			margin-left:10px;
			padding-bottom:30px;

			}
	.proyectos .descripcion{

		text-align: justify;
		font-size: 18px;
		padding: 0 10% 0 10%;
		margin-top: 50px;
		width: 100%;
		height: 10%;



			}

/*SLIDEEEEEE*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.flechas{

width: 100%;
height: auto;
overflow: hidden;
position: absolute;
padding: inherit;
top:50%;

}
.prev, .next {

  cursor: pointer;
	position: relative;
	float: left;
  top: 2%;
  width: auto;
  padding:12px;
  margin-top: 2px;
	margin-left: 5%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	background-color: #0a0a0a;
}

/* Position the "next button" to the right */
.next {
  right: 0;
	float: left;
  border-radius: 3px 0 0 3px;
	margin-left: 80%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
	color: rgba(10,10,10,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
	top: 90%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*CONTACTO*/

* {

  box-sizing: border-box;
}

h2{

	text-align: center;
	display: block;
	margin-top: 5%;
	width: 50%;
	margin-left: 25%;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  float: right;
	border: solid;
	border-radius: 1px;
	border-color: white;
}

input[type=submit]:hover {
  background-color: grey;
}

.container {
  border-radius: 5px;
  padding: 20px;
	width: 50%;
	border: solid;
	border-radius: 1px;
	border-color: white;
	margin-left: 25%;
	margin-top: 5%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 26px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 26px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
	 opacity: 0.1;
   text-align: center;
}
a{
	list-style:none;
	text-decoration:none;
	color: white;

}

li{

	list-style:none;
	text-decoration:none;
	color: white;

}
