body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    min-height: 100vh; /* Cambio de height: 100% */
    margin: 0;
    display: flex;
    flex-direction: column;
}

#contenedor {
    background-image: url("material/fnd.jpg");
    min-height: 100vh; /* Cambio de height: 100% */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    position: relative; /* Cambio de absolute */
    animation: bkGrnd 1s ease;
}

@keyframes bkGrnd {
    from { width: 95%; }
    to { width: 100%; }
}

.sidenav {
    height: 95%;
    width: auto; /* Evita que se colapse */
    position: fixed;
    left: 0;
    background-color: #0a0a0a;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidenav a {
    display: block;
    padding: 10px;
    font-size: 22px;
    color: #818181;
    text-align: center;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#txtAstro1 {
    font-size: 40px; /* Ajuste para pantallas pequeñas */
    text-align: right;
    margin: 10px auto;
}

@media (max-width: 800px) {
    #main {
        width: 100%;
        padding: 0;
    }

    .content, .proyectos, .AstroBeni {
        width: 100%;
    }

    #txtAstro {
        font-size: 25px;
    }

    #txtAstro1 {
        font-size: 28px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .menu, .main, .content, .proyectos {
        width: 100%;
    }

    .materialV {
        height: 315px;
        width: 100%;
    }

    #txtAstro1 {
        font-size: 24px;
        text-align: center;
    }
}
